# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Environment Variables
.env*.local
.env

# Temporary Build Caches
.kiot_final_backup/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
*.pem
.idea/
.vscode/
